.viewAllRecipePage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .allRecipesContainer {
        padding: 2rem 0;
        
    }

        
    }
    
.paginationContainer {
        padding: 2rem 0;
}